html{
    margin: 0px; 
    padding: 0px;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    background: #faf9f9;
    scroll-behavior: smooth;
}

h1, h2, h3, h5, h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.menu{
    top: 0;
    bottom: 0;
    left: -10px;
    position: fixed;
    overflow: hidden;
    width: 20%;
    color: #fff;
    text-align: left;
    background-color: rgba(255, 136, 0, 0.925);
    box-shadow: 3px 0px 40px 0px rgba(255,170,0,.5);
}



.menu > ul{
    margin: 100px 0 0 0 ;
    width: 100%;
    padding: 0;
    
}

.menu > ul > a:first-child{
    border-top: 1px solid rgb(253, 168, 71);
}

.menu > ul > a{
    height: 50px;
    border-bottom: 1px solid rgb(253, 168, 71);
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15%;
    color: rgb(252, 239, 224);
    text-decoration: none;
    clear: right;
}

.menu > ul > a:hover{
    background: rgb(255, 136, 0);
    text-decoration: underline;
}

label {
    margin: 0 40px 0 0;
    font-size: 40px;
    line-height: 70px;
    display: none;
    width: 26px;
    color: red;
}

#toggle{
    display: none;
}

#content{
    max-width: 65%;
    float: right;
    padding-right: 10%;
    animation: 1s fade-in 0s forwards;
}

header{
    margin-top: 50px;
    font-size: 1.2rem;
    
}

@keyframes fade-in {
    0%   { 
        transform: translateY(40px);
        opacity: 0;
    }
    100% { 
        opacity: 1;
     }
  }

header > *{
    
}

button{
    position: relative;
    display:inline-block;
    padding:2em 4em;
    margin:0 0.3em 3rem 0;
    border-radius:2em;
    box-sizing: border-box;
    background: rgb(255, 136, 0);
    color:#FFFFFF;
    text-align:center;
    transition: all .1s;
    font-size: .7rem;
    text-decoration: none;
    box-shadow: 0 6px rgb(214, 114, 0);
    border: 0;
    outline: 0;
}
button:hover{
    color:#000000;
    background-image: linear-gradient(to top, #ff8800, #fe911b, #fe992b, #fda03a, #fda847);
    top: 3px;
    box-shadow: 0 3px rgb(214, 114, 0);
}
button:active{
    color:#000000;
    background-image: linear-gradient(to top, #ff8800, #fe911b, #fe992b, #fda03a, #fda847);
    top: 6px;
    box-shadow: 0 0px rgb(214, 114, 0);
}

header > a:hover{
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(255, 136, 0);;
}

a:hover{
    font-weight: 500;
    text-decoration: underline;
    color: rgb(231, 123, 0)
}

/* header > hr{
    margin-top: 5rem;
} */

.col2{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
    
}

.projectGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . ." ". . ." ;
    grid-gap: 5%;
}

#links{
    margin-top: 4rem;
}


.projectCard{
    width: 90%;
    max-height: 500px;
    min-height: 400px;
    background: white;
    padding: 5%;
    position: relative;
    top: 0;
    border-radius: 5%;
    box-shadow: 0px 2px 10px 0px rgb(204, 204, 204);
    page-break-inside: avoid;          
    break-inside: avoid-column;        
    
    transform: translateY(5px);
    transition: transform .2s;
}

.projectCard:hover{
    position: relative;
    transform: translateY(-5px);
    transition: all .2s;
}

.projectCard > p:first-of-type{
    margin-bottom: 3rem;
}

#projects > a{
    display: block;
    position: relative;
    bottom: 0;
    margin: 5rem auto 0;
    text-align: center;
    
}

.tech{
    font-size: .85rem;
    color: #777;
    position: absolute;
    bottom: 0;
}



@media only screen and (max-width: 1300px){
    .col2{
        display: grid;
    grid-template-columns: 100%;
    grid-gap: 0%;
    }
    .col2 > p {
        margin-bottom: 2rem;
    }
    .projectGrid{
        display: block;
        width: 100%;
    }
    .projectCard{
        margin-bottom: 1rem; 
        max-height: 550px;
        min-height: 100px;
    }
    .skillGroup > p{
        margin-bottom: 0;
    }
    .skillGroup{
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 650px){
    html{
        
    }
    label{
        display: block;
        color: red;
        cursor: pointer;
        z-index: 100;
        float: right;
        color: rgba(255, 136, 0, 0.925);
    }
    .menu{
        text-align: center;
        width: 105%;
        background-color: rgb(255, 145, 20);
        display: block;
        position: relative;
        overflow: none;
        margin-top: 0;
        padding: 0;
        display: none;
        animation: .7s slide-over 0s forwards;
    }
    @keyframes slide-over{
        0% {
            opacity: 1;
            transform: translate(650px);
        }
    }
    .menu > ul{
        margin: 0;
    }
    .menu > ul > a{
        display: block;
        border-bottom: 1px solid rgb(253, 168, 71);
        margin: 0;
        padding-left: 0;
    }
    .menu > ul > a:hover{
        background: rgb(255, 136, 0);
    }
    #toggle:checked + .menu{
        display: block;
        
    }
    #content{
        max-width: 90%;
        padding-left: 20px;
        
    }
    @keyframes slide-down {
        0%{
            transform: translateY(-500px);
        }
    }
    .projectGrid{
        display: block;
    }
    .projectCard{
        display: block;
        width: 100%;
        max-height: 550px;
        min-height: 100px;
        margin-bottom: 1rem;
    }
}